.container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 16px 8px;
}

form > * {
  margin: 8px;
}

.compare {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  margin: 4px;
}

.compression-list {
  width: 100px;
}

.slideContainer {
  padding: 16px 0;
}

.ratio {
  position: fixed;
  top: 50%;
  right: 10%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;

  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
  height: 210px;
  cursor: pointer;
  background: antiquewhite;
  padding: 16px;
  z-index: 99;
  transition: height 0.3s ease-in-out;
}

.minimize {
  height: 20px;
}

.compress {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.compress > label,
a,
select {
  margin: 2px 0;
}

.scale {
  position: fixed;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.minus {
  top: 30%;
  right: 10%;
}

.plus {
  top: 30%;
  right: 20%;
}

.preview {
  max-width: 100%;
}

table td {
  border-collapse: collapse;
  vertical-align: top;
  width: 20%;
  padding: 4px;
  border: 1px solid black;
  border-collapse: collapse;
}

.compressed {
  vertical-align: top;
}

.minimize-container {
  padding: 8px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  margin-right: 4px;
}

.custom-file-input::before {
  content: 'Select Image';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.download {
  text-align: center;
  margin: 16px;
}

body {
  overflow-y: hidden;
}

.info {
  margin: 16px auto;
}

.progressbar {
  height: 40px;
  z-index: 9999;
  position: absolute;
  top: 50%;
  right: 50%;
}

input[type='file'] {
  display: none;
}

.custom-upload {
  margin: 16px;
  padding: 16px;
  border: 1px dotted black;
  width: 124px;
  cursor: pointer;
  background-color: whitesmoke;
  transition: all 0.3s ease-in-out;
}

.custom-upload:hover {
  background-color: rgb(220, 220, 220);
}

.custom-upload:active {
  background-color: rgb(200, 200, 200);
}

.clear {
  margin-left: 4px;
}

.upload-page {
  margin: 0 auto;
  background-color: whitesmoke;
  height: 100vh;
}

html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  height: 100%;
}

* {
  font-size: 1.6rem;
}
