.container {
  display: block;
  max-width: 1080px;
  margin: 24px auto;
  padding: 24px;
}

.title {
  margin: 16px 8px;
}

form > * {
  margin: 8px;
}

.compare {
  width: 100%;
  height: 100%;
}

canvas {
  margin: 4px;
}

.compression-list {
  width: 100px;
}

.slideContainer {
  position: fixed;
  top: 30%;
  right: 9%;
}

.ratio {
  position: fixed;
  top: 50%;
  right: 10%;
}

.compress {
  position: fixed;
  top: 10%;
  right: 33.3%;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.scale {
  position: fixed;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.minus {
  top: 30%;
  right: 10%;
}

.plus {
  top: 30%;
  right: 20%;
}
