.container {
  display: block;
  max-width: 1080px;
  margin: 24px auto;
  padding: 24px;
}

.title {
  margin: 16px 8px;
}

form > * {
  margin: 8px;
}

.compare {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  margin: 4px;
}

.compression-list {
  width: 100px;
}

.slideContainer {
  padding: 16px 0;
}

.ratio {
  position: fixed;
  top: 50%;
  right: 10%;
}

.controls {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 100%;
  cursor: pointer;
  background: antiquewhite;
  padding: 16px;
  z-index: 99;
}
.compress {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.compress > label,
a,
select {
  margin: 2px 0;
}

.scale {
  position: fixed;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.minus {
  top: 30%;
  right: 10%;
}

.plus {
  top: 30%;
  right: 20%;
}

.preview {
  max-width: 80%;
}

table td {
  border-collapse: collapse;
  vertical-align: top;
  width: 20%;
}

.compressed {
  vertical-align: top;
  width: 50%;
}
